body {
    color: #d8dfd3;
    font-family: "Tahoma", sans-serif;
    font-size: 10px;
    background: #000000;
    font-smooth: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

#restart-container {
    margin-left: 20px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked ~ #restart-box {
    background-color: #a6e3a1;
    color: #1e1e2e;
    text-align: center;
}

#restart-box > label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 10px 0px 10px;
    user-select: none;
}

#restart-box {
    background-color: #f38ba8;
    color: #1e1e2e;
    text-align: center;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

#table-container {
    z-index: 1;
}

#controls {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 4px 4px 0px 4px;
    background: transparent;
    border-radius: 10px 10px 0px 0px;
    margin-top: 5px;
}

#controls > input {
    border-radius: 10px 10px 0px 0px;
}

.team-red {
    color: #f38ba8;
}

.team-blu {
    color: #89b4fa;
}

.error {
    color: #f5c2e7;
}

.warning {
    color: #f9e2af;
}

.nohighlight {
    color: #a6adc8;
}

#clients tr:not(:first-child) .client-actions {
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

#container-login
{
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-bottom: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#footer {
    position: static;
    bottom: 16;
    left: 0;
    width: 100%;
}

#footer > hr {
    border-top: #fab387 solid 1px;;
    
}

#footer span {
    padding: 4px;
}

.hidden {
    display: none;
}

.disconnected .connected {
    color: #f5e0dc;
}

.stopped .active {
    color: #f5e0dc;
}
